.contenido {
  padding: 2rem 3rem;
}
.contenedor-texto {
  margin-bottom: 2%;
  text-align: center;
}
.contenedor-texto h2 {
  font-weight: bold;
  font-size: 2.5rem;
  color: black;
}
.contenedor-texto p {
  font-size: 1.2rem;
  color: black;
}
